* {
    -webkit-user-drag: none;
    user-select: none;
}

body, html {
    margin: 0;
    overflow: hidden;
    height: 100vh;
}
body {
    background: #474747;
}
video {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

html:hover .dismiss {
    opacity: 1;
}

.dismiss {
    align-items: center;
    background-color: rgba(40, 52, 71, 0.7);
    border-radius: 50%;
    color: white;
    cursor: pointer;
    display: flex;
    font-size: 20px;
    height: 25px;
    justify-content: center;
    opacity: 0;
    position: absolute;
    right: 8px;
    top: 16px;
    transition: opacity .25s linear;
    width: 25px;
}

.dismiss:after, .dismiss:before {
    display: block;
    content: ' ';
    height: 2px;
    background-color: white;
    position: absolute;
    width: calc(100% - 12px);
}

.dismiss:after {
    transform: rotate(45deg);
}

.dismiss:before {
    transform: rotate(-45deg);
}