name: CI

on:
  pull_request:
  push:
    branches:
      - master

permissions:
  contents: write
  id-token: write

jobs:
  build:
    name: Build ${{ matrix.build-group }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        include:
          - os: windows-latest
            arch: x86
            build-group: win32-x86
          - os: windows-latest
            arch: x64
            build-group: win32-x64
          - os: windows-11-arm
            arch: arm64
            build-group: win32-arm64
    steps:
    - uses: actions/checkout@v6
    - uses: actions/setup-node@v5
      with:
        node-version: '20'
        architecture: ${{ matrix.arch }}
    - run: npm ci
    - run: npm run lint
    - run: npm test
    - name: Prebuildify
      run: npm run prebuild
      shell: bash
    - uses: actions/upload-artifact@v6
      with:
        name: prebuilds-${{ matrix.build-group }}
        path: prebuilds/
  publish:
    name: Publish to npm
    if: github.event_name == 'push' && github.ref == 'refs/heads/master'
    runs-on: ubuntu-latest
    needs: build
    concurrency:
      group: ${{ github.ref }}
    steps:
    - uses: actions/checkout@v6
    - uses: actions/download-artifact@v7
      with:
        path: prebuilds
        pattern: prebuilds-*
        merge-multiple: true
    - uses: phips28/gh-action-bump-version@ba04cec2b3fb07806ab4448c8825f6ff98fac594
      with:
        tag-prefix: 'v'
        version-type:  'patch'
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    - uses: actions/setup-node@v5
      with:
        node-version: '20'
        registry-url: 'https://registry.npmjs.org'
    # Ensure latest npm version for provenance support
    - name: "Update npm"
      run: npm install -g npm@latest
    - run: npm publish --provenance --access public
