name: prebuild

on:
  push:
    tags:
      - 'v*'

jobs:
  build:

    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        os: [macos-latest, ubuntu-latest, windows-latest]

    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-node@v1
      with:
        node-version: 14.x
    - name: Install robotjs dependencies for ubuntu
      run: sudo apt install libxtst-dev libpng++-dev
      if: startsWith(matrix.os, 'ubuntu')
    - run: npm install
    - run: npx prebuild -t 9.4.0 -t 10.2.0 -t 11.1.1 -r electron --arch x64 -u ${{ secrets.GITHUB_TOKEN }}
    - run: npx prebuild -t 11.1.1 -r electron --arch arm64 -u ${{ secrets.GITHUB_TOKEN }}
      if: startsWith(matrix.os, 'macos')
    - run: npx prebuild -t 9.4.0 -t 10.2.0 -t 11.1.1 -r electron --arch ia32 -u ${{ secrets.GITHUB_TOKEN }}
      if: startsWith(matrix.os, 'windows')
